[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vim-ruby-runner"]
	path = bundle/vim-ruby-runner
	url = https://github.com/henrik/vim-ruby-runner.git
[submodule "bundle/solarized-color"]
	path = bundle/solarized-color
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-paren-crosshairs"]
	path = bundle/vim-paren-crosshairs
	url = git://github.com/chreekat/vim-paren-crosshairs.git
